<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Заказы</title>
    <style>
        .no-orders-message {
            font-size: 24px; /* Увеличивает размер шрифта */
            font-weight: bold; /* Делает шрифт жирным */
        }
    </style>
</head>

<body>
    <h1>Заказы</h1>
    <p class="no-orders-message">У вас нет заказов</p>
    <button onclick="window.location.href='{{ index }}'">На главную</button>
</body>

</html>