<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Магазин - Игры</title>
</head>

<body>
    <h1>Игры</h1>
    <ul>
        {% for game in games_list %}
        <li>
            {{ game.name }}
            <button>Купить</button>
            <button>Подробнее</button>
        </li>
        {% endfor %}
    </ul>
    <button onclick="window.location.href='{{ index }}'">На главную</button>
</body>

</html>